<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="containers-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <p>CONSIDER how the world of fresh food and its purchase both wholesale and retail has changed since 1947, when Con O'Donoghue Snr and his wife Margaret set up Limerick Fruit Suppliers.Back then you bought your fruit, veg and dairy produce at the market and local shops and Limerick Fruit Suppliers supplied to trade along with direct to the consumer.</p>
    
  <p>Today, Con and Margarets son Con ODonoghue, heads up a workforce of 55 employees, has a fleet of 15 vehicles on the road and Limerick Fruit Suppliers has a 12,000 sq. ft. footprint in a modernised purpose built unit in Park road Rhebogue.
    
    From casual shoppers to their retail shop to hotel groups, restaurants and state agencies supplied from their warehouse, all are welcome for business.
    
    So competent, reliable and competitive are Limerick Fruit Suppliers that it services all 38 HSE outlets in Munster from Roscrea to  Dingle to  Castletownbere in Co. Cork.
    
    They are also suppliers to the Defence Forces ration stores to their barracks throughout the 26 counties and have contracts with an estimated 70 per cent of Limerick's restaurants."</p>
  </div>

<div class="background-img-fruit"> 
</div>

</body>
<% include partials/script %>
</html>