<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="containers-fluid bg-cover text-center"> 
    <p>Fresh fruit and veg at wholesale prices.</p>
    <p>Bottled water, bread, Milk, Cream, Butter, Dog Food, Fresh Eggs, Gas, Home Heating Fuel etc.</p>
  </div>

<div class="background-img containers-fluid bg-cover text-center"> 
</div>

</body>
<% include partials/script %>
</html>